<!DOCTYPE html>
<html lang="en">
<head>
    <title>新增EPG</title>
    <% include layout/header.html %>
</head>
<body class="page-header-fixed">
<% include layout/topbar.html %>
<div class="page-container row-fluid" style="margin-top: -3px">
    <% include layout/leftmenu.html %>
    <div class="page-content">

        <!-- BEGIN PAGE CONTAINER-->

        <div class="container-fluid" style="border-left: 1px solid #cccccc">
            <!-- BEGIN PAGE HEADER-->

            <div class="row-fluid" style="margin-top: 10px">

                <div class="span12">
                    <div class="portlet-body form">

                        <!-- BEGIN FORM-->

                        <form action="/admin/epgAdd" class="form-horizontal" method="post" onsubmit="return checkEpgForm()">
                            <input type="hidden" value="<%=channel_id%>" name="channel_id"/>
                            <input type="hidden" value="<%=channel_name%>" name="channel_name"/>
                            <h2 class="form-section">新增EPG</h2>

                            <div class="row-fluid">

                                <div class="span6 ">

                                    <div class="control-group">

                                        <label class="control-label">名称:</label>

                                        <div class="controls">

                                            <input type="text" class="m-wrap span12" placeholder="请输入EPG名称" name="name" required="required">

                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="row-fluid">

                                <div class="span6 ">

                                    <div class="control-group">

                                        <label class="control-label">发布日期:</label>

                                        <div class="controls">

                                            <input type="text" class="m-wrap span12" onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" readonly placeholder="发布日期" id="release_date" name="release_date"
                                                   required="required">

                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="row-fluid">

                                <div class="span6 ">

                                    <div class="control-group">

                                        <label class="control-label">开始时间:</label>

                                        <div class="controls">

                                            <input type="text" class="m-wrap span12" onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" readonly placeholder="开始时间" id="start_date" name="start_date"
                                                   required="required">

                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="row-fluid">

                                <div class="span6 ">

                                    <div class="control-group">

                                        <label class="control-label">结束时间:</label>

                                        <div class="controls">

                                            <input type="text" class="m-wrap span12" placeholder="结束时间" onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" readonly id="end_date" name="end_date"
                                                   required="required">

                                        </div>

                                    </div>

                                </div>
                            </div>

                            <!--/row-->


                            <div class="form-actions">

                                <button type="submit" class="btn blue"><i class="icon-ok"></i> 确认</button>

                                <a type="button" href="javascript:history.go(-1)" class="btn"><i class="icon-remove"></i> 取消</a>

                            </div>

                        </form>

                        <!-- END FORM-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function checkEpgForm(){
        var release_date = $("#release_date").val();
        var start_date = $("#start_date").val();
        var end_date = $("#end_date").val();
        if(!release_date){
            return false;
        }else if(!start_date){
            return false;
        }else if(!end_date){
            return false;
        }else{
            return true;
        }
    }
</script>

<% include layout/footer.html %>
</body>
</html>
