<!DOCTYPE html>
<html lang="en">
<head>
    <title>编辑EPG</title>
    <% include layout/header.html %>
</head>
<body class="page-header-fixed">
<% include layout/topbar.html %>
<div class="page-container row-fluid" style="margin-top: -3px">
    <% include layout/leftmenu.html %>
    <div class="page-content">

        <!-- BEGIN PAGE CONTAINER-->

        <div class="container-fluid" style="border-left: 1px solid #cccccc">

            <!-- BEGIN PAGE HEADER-->

            <div class="row-fluid" style="margin-top: 10px">

                <div class="span12">
                    <div class="portlet-body form">

                        <!-- BEGIN FORM-->

                        <form action="/admin/epgEdit" class="form-horizontal" method="post">
                            <input type="hidden" value="<%=channel_id%>" name="channel_id"/>
                            <input type="hidden" value="<%=channel_name%>" name="channel_name"/>
                            <input type="hidden" value="<%=epg.epg_id%>" name="epg_id"/>
                            <h2 class="form-section">编辑EPG</h2>

                            <div class="row-fluid">

                                <div class="span6 ">

                                    <div class="control-group">

                                        <label class="control-label">名称:</label>

                                        <div class="controls">

                                            <input type="text" class="m-wrap span12" placeholder="请输入EPG名称" name="name" required="required" value="<%=epg.name%>">

                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="row-fluid">

                                <div class="span6 ">

                                    <div class="control-group">

                                        <label class="control-label">发布日期:</label>

                                        <div class="controls">

                                            <input type="text" class="m-wrap span12" value="<%=epg.release_date%>" onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" readonly placeholder="发布日期" name="release_date"
                                                   required="required">

                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="row-fluid">

                                <div class="span6 ">

                                    <div class="control-group">

                                        <label class="control-label">开始时间:</label>

                                        <div class="controls">

                                            <input type="text" class="m-wrap span12" value="<%=epg.start_date%>" onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" readonly placeholder="开始时间" name="start_date"
                                                   required="required">

                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="row-fluid">

                                <div class="span6 ">

                                    <div class="control-group">

                                        <label class="control-label">结束时间:</label>

                                        <div class="controls">

                                            <input type="text" class="m-wrap span12" value="<%=epg.end_date%>" placeholder="结束时间" onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" readonly name="end_date"
                                                   required="required">

                                        </div>

                                    </div>

                                </div>
                            </div>

                            <!--/row-->


                            <div class="form-actions">

                                <button type="submit" class="btn blue"><i class="icon-ok"></i> 确认</button>

                                <a type="button" href="javascript:history.go(-1)" class="btn"><i class="icon-remove"></i> 取消</a>

                            </div>

                        </form>

                        <!-- END FORM-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<% include layout/footer.html %>
</body>
</html>
