<!DOCTYPE html>
<html lang="en">
<head>
    <title>用户计费列表</title>
    <% include layout/header.html %>
</head>
<body class="page-header-fixed">
<% include layout/topbar.html %>
<div class="page-container row-fluid" style="margin-top: -3px">
    <% include layout/leftmenu.html %>
    <div class="page-content">

        <!-- BEGIN PAGE CONTAINER-->

        <div class="container-fluid" style="border-left: 1px solid #cccccc">

            <!-- BEGIN PAGE HEADER-->

            <div class="row-fluid" style="margin-top: 10px">

                <div class="span12">
                    <h2><a href="/admin/userList"><i class="icon-chevron-left" ></i></a>&nbsp;用户计费列表</h2>
                    <hr/>
                    <form action="/admin/editorList" class="form-inline" method="get">
                        <div class="clearfix span12" style="text-align: right">
                            <div class="btn-group">
                                <a class="btn green" href="/admin/userMoneyAddUI?key_id=<%=key_id%>"> <i
                                        class="icon-plus"></i> 新增</a>
                            </div>
                        </div>
                    </form>
                    <br/>
                    <br/>
                    <hr/>
                    <div class="bs-example4" data-example-id="contextual-table">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>ID</th>
                                <th>用户名</th>
                                <th>金额</th>
                                <th>开始时间</th>
                                <th>结束时间</th>
                                <th>创建时间</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%userMoneyList.forEach(function(item,index){%>
                            <tr class="active">
                                <th scope="row"><%=index+1%></th>
                                <td><%=item.device_id%></td>
                                <td><%=item.user_name%></td>
                                <td><%=item.money%></td>
                                <td><%=item.start_date%></td>
                                <td>
                                    <%=item.end_date%>
                                </td>
                                <td><%=item.create_date%></td>
                                <td>
                                    <%if(item.state == 1){%>
                                    <span class="label label-success">正常</span>
                                    <%}else if(item.state == 0){%>
                                    <span class="label label-warning">已过期</span>
                                    <%}else{%>
                                    <span class="label label-warning">未知</span>
                                    <%}%>
                                </td>
                                <td>
                                    <a class="btn blue" href="/admin/userMoneyEditUI?id=<%=item.id%>"> <i
                                            class="icon-edit"></i> 编辑</a>
                                    <button class="btn red delEditor" onclick="delUserMoney('delUserMoneyModal','<%=item.id%>','<%=key_id%>')"><i
                                            class="icon-trash"></i> 删除 </button>
                                </td>
                            </tr>
                            <%})%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="delUserMoneyModal" tabindex="0" role="dialog"  aria-labelledby="gridSystemModalLabel" style="overflow-y: auto;display: none">
    <input type="hidden" id="del_user_money_id"/>
    <input type="hidden" id="del_user_money_keyid"/>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        onclick="showModal('delUserMoneyModal')"></button>
                <h4 class="modal-title" id="ss">删除费用</h4>
            </div>
            <form class="form-horizontal">
                <div class="modal-body">
                    <div class="box-content">
                        <span style="color: #d9534f;font-size: 26px">你确认要删除这条缴费记录吗?</span>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="showModal('delUserMoneyModal')">
                    <i
                            class="icon-remove"></i> 取消

                </button>
                <button type="button" class="btn red" id="userMoneyDelete"><i
                        class="icon-trash"></i> 删除</button>
            </div>
        </div>
    </div>
</div>


<script src="/javascripts/vendor/require.min.js" data-main="/javascripts/vendor/user-main.js"></script>

<% include layout/footer.html %>
</body>
</html>
